body{
    background-color: rgb(0, 0, 0);
}

.container{
    
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    justify-content: space-between;
}
.item{
    cursor: pointer;
    height: 100px;
    -webkit-transition: .5s ease;
    transition: transform .5s ease;
}
.item:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.ok{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 180px;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    justify-content: space-between;

}

#yep{
    
    width: 300px;
    height: auto;
    left: 400px;
    cursor: pointer;
    
    
    -webkit-transition: .5s ease;
    transition: transform .5s ease;
}
#yep:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
    
}
.esq{
    font-style: italic;
    text-align: left;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    justify-content: space-between;
}
#nop{
    cursor: pointer;
    position: relative;
    left: 450px;
    width: 400px;
    -webkit-transition: .5s ease;
    transition: transform .5s ease;
}
#nop:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
    
}

#simm{
    font-style: oblique;
    width: 80%;
    font-size: 30px;
    text-align: center;
}
#oioi{
    text-align: center;
}
h1{
    font-style: italic;
    margin-right: 40px;
    color: white;
    text-align: end;
    
}
h2{
    margin-left: 30px;
    margin-right: 40px;
    color: white;

}
